@charset "UTF-8";

.container {
    margin:auto;
}
.w50 { width :50px; }
.w100 { width :100px; }
.w150 { width :150px; }
.w200 { width :200px; }
.w250 { width :250px; }
.w300 { width :300px; }
.w350 { width :350px; }
.w400 { width :400px; }
.w450 { width :450px; }
.w500 { width :500px; }
.w550 { width :550px; }
.w600 { width :600px; }
.w650 { width :650px; }
.w700 { width :700px; }
.w750 { width :750px; }
.w800 { width :800px; }
.w850 { width :850px; }
.w900 { width :900px; }
.w950 { width :950px; }
.w1000 { width :1000px; }

.row {
    margin: 10px 0px;
    text-align: left;
}

.left        { text-align: left !important; }
.center   { text-align: center !important; }
.right     { text-align: right !important; }

.m0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.m10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.m30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.m40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.m50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.img {
    border: 2px solid transparent;
}

.img.img-hover {
    opacity: 0.4;
}

.img.img-hover:hover {
    opacity: 1;
}

.img.img-shadow {
    border:none;
    /* box-shadow: 3px 3px 3px 0 black; */
    box-shadow: 0 0 3px 1px black;
}

.link {
    text-decoration: none;
    color:gray;
    font-size : 0.9em;
    }
.link:hover {
    color: black;
}

.link.link-btn {
    border: 1px solid #E6E6E6;
    border-radius: 0.25em;
	 color : 707070;
	 background-color : #E6E6E6;
    padding: 0.5em;
    font-size : 0.9em;
    display:inline-block;
    text-align: center;
}
.link.link-btn:hover {
    color: black;
}

.link.link-btn-green {
    border: 1px solid #009432;
    border-radius: 0.25em;
	 color : white;
	 background-color : #009432;
    padding: 0.5em;
    font-size : 0.9em;
    display:inline-block;
    text-align: center;
}


.pagination {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;            
}
.pagination > a {
    color: black;
    text-decoration: none;

    display: inline-block;
    min-width:2em;
    padding: 0.25em;

    text-align: center;

    border:none;
}
.pagination > a:hover,
.pagination > a.active {
    color: #009432;
    border-color:#009432;
}


.form-input {
    outline: none;
    padding: 0.6em;
    margin : 0.3em;
    border: 1px solid #b2bec3;
    font:inherit;
    font-size : 0.8em;
}

.form-input:focus {
    border-color: black;
}

.fill {
    width:100%;
}

.form-input.input-underline {
    border-top: none;
    border-left: none;
    border-right:none;
}

.form-input.input-image {
    padding-left: 2.5em;

    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: left 0.5em center;
}

.form-input.input-round {
    border-radius: 0.25em;
}

textarea.form-input {
    resize: vertical;
}


.btn {
    border:1px solid #707070;
    border-radius: 0.3em;
    padding:0.4em;

    color:white;
    background-color: #707070;

    cursor: pointer;

    font:inherit;
}
.btn:hover {
    color:black;
    border-color: black;
}

.btn.btn-primary {
    border-color: #009432;
    background-color: #009432;
    color:white;
    font-size : 0.9em;
    padding: 0.5em;
}
.btn.btn-primary:hover {
    border-color: #009432;
    background-color:#009432;
}

.btn.btn-secondary {
    border-color: #636e72;
    background-color: #636e72;
    color: white;
}
.btn.btn-secondary:hover {
    border-color: #4f585b;
    background-color: #4f585b;
}

.btn.btn-success{
    border-color:#1c683c;
    background-color:#1c683c;
    color:white;

}
.btn.btn-success:hover{
    border-color:#1c683c;
    background-color:#1c683c;
}

.btn.btn-warning{
    border-color:#fdcb6e;
    background-color:#fdcb6e;
    color:white;
}
.btn.btn-warning:hover{
    border-color:#fcb126;
    background-color:#fcb126;
}

.btn.btn-danger{
    border-color:#d63031;
    background-color:#d63031;
    color:white;

}
.btn.btn-danger:hover{
    border-color:#ae2223;
    background-color:#ae2223;
}

.table {
    width:100%;
    border-collapse: collapse;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td 
{
    text-align: center;
    padding:0.5em;
    border : none;
}

.table.table-border {
    border: 1px #A6A6A6;
}
.table.table-border > thead > tr > th,
.table.table-border > thead > tr > td,
.table.table-border > tbody > tr > th,
.table.table-border > tbody > tr > td,
.table.table-border > tfoot > tr > th,
.table.table-border > tfoot > tr > td 
{
    border: none;
}

.table.table-stripe {}
.table.table-stripe > thead > tr,
.table.table-stripe > tfoot > tr {
    background-color: #E6E6E6;
}

.table.table-stripe > tbody > tr:nth-child(2n) {
    background-color: #E6E6E6;
}

.table.table-hover {}
.table.table-hover > thead > tr,
.table.table-hover > tfoot > tr {
    background-color: #E6E6E6;
}
.table.table-hover > tbody > tr:hover {
    background-color: #E6E6E6;
}

.float-container {}
.float-container > .float-left {
    float:left;
}
.float-container > .float-right {
    float:right;
}

.float-container::after {
    content:"";
    display: block;
    clear:both;
}

.layer-1 {
    width:100%;
}
.layer-2 {
    width:50%;
}
.layer-3 {
    width:33.3333%;
}
.layer-4 {
    width:25%;
}
.layer-5 {
    width:20%;
}

.fullscreen {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.1);

    display: none;
}

.fullscreen.active {
    display: block;
}

.fullscreen > .center-position {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

ul.menu, 
ul.menu ul {
    list-style: none;
    padding:0;
    margin:0;
}

ul.menu::after {
    content:"";
    display:block;
    clear:both;
}
ul.menu > li {
    float:left;
    width:100px; /* (4) */
}

ul.menu ul {
    display: none;
}
ul.menu li:hover > ul {
    display: block;
}
     
ul.menu li {
    position:relative;
}
ul.menu ul {
    position:absolute;
    top:100%;
    left:0%;
}

ul.menu ul {
    width:100%;
}

ul.menu {
    font-size: 16px;
}
ul.menu, ul.menu ul {
    background-color: #2d3436;
}
ul.menu li {
    padding: 0.5em;
    text-align: center;
}
ul.menu a {
    text-decoration: none;
    color:white;
}
ul.menu li:hover {
    background-color: #636e72;
}

ul.menu a {
    display: block;
    width:100%;
}

ul.menu > li.right-menu {
    float:right;
}
ul.menu > li > ul ul {
    top:0%;
    left:100%;
}
ul.menu > li.right-menu > ul ul {
    left:-100%;
}

ul.menu a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.kal {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
	margin-left: auto;
	margin-right:auto;
}
table.kal th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

table.kal td{
	width:350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

    .float-container {}
    .float-container > .float-left {
        float:left;
    }
    .float-container > .float-right {
        float:right;
    }

    .float-container::after {
        content:"";
        display: block;
        clear:both;
    }

    .layer-1 {
        width:100%;
    }
    .layer-2 {
        width:50%;
    }
    .layer-3 {
        width:30%;
    }
    .layer-4 {
        width:25%;
    }
    .layer-5 {
        width:20%;
    }

   

