main {
    width:100px;
    margin:auto;
}
header {
    min-height: 120px;
    padding: 20px;
/*     border-bottom: 3px solid gray; */
}
.section {
    min-height: 450px;
}
nav {}



section::after {
    content:"";
    display: block;
    clear: both;
}
aside {
    float:left;
    width:20%;
    min-height: 450px;
}
article {
    float:left;
    width:100%;
    min-height: 450px;
    padding:20px;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
  }

  #wrap {
    /*min-height: 100vh;*/
     width: 100%;
    height: 100px;  
    background-color: #f2f2f2;
  }

  section {
    padding-bottom: 105px;
  }

  footer {
    width: 100%;
    height: 90px;

    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
  }

  footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
  }

  footer a:visited {
    color: #808080;
  }

  footer p {
    margin-top: 0; margin-bottom: 0;
  }

  footer p span {
    display: inline-block;
    margin-left: 20px;
  }