@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/*로그인 페이지 상 하 공백*/
.login { 
    padding:100px 90px 140px 90px; 
}

/*폼 디자인*/
.login-form { 
    position: relative; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    z-index: 1; 
}

.login-form h1 { 
    font-size: 32px; 
    color: #000; 
    text-align: center; 
    margin-top: 60px; 
    margin-bottom: 90px; 
}

/*입력 창 디자인*/
.input-area { 
    position: relative; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    width:400px;  
    text-align: center; 
    padding-top: 30px; 
    margin-bottom: 10px;
}

.input-area:first-child {
    margin-top: 0; 
}

.input-area input { 
    width: 100%; 
    padding: 20px 5px 10px; 
    background-color: transparent; 
    border:none;  
    border-bottom: 1px solid #999; 
    font-size: 18px; 
    outline: none; 
}

.input-area label { 
    position: absolute;  
    left: 10px;  
    top: 15px; 
    font-size: 18px; 
    color: #999;  
    transition: top .5s ease; 
}

.input-area input:focus + label,
.input-area input:valid + label { 
    top: -2px; 
    font-size: 13px; 
    color:#999; 
}



/*최하단 글자 디자인*/
.caption-form { 
    margin-top: 20px; 
    margin-right: 60px;
    text-align: center; 
    position: relative; 
    left: 0; 
    right: 0; 
}

.caption-form li { 
    display: inline;  
    text-align: center; 
    margin-left: 20px; 
    font-size: 13px; 
    color:#999; 
}

.caption-form a { 
    color: #999; 
}
