* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 50px;
    justify-content:space-between;
}

.content {
    display: flex;
    width: 1280px;
    margin: auto;
    /*height: 50px;*/
    justify-content:space-between;
    margin-top:10px;
    margin-bottom: 10px;
}

.searchArea {
    font-size: 12px;
    width: 300px;
    height: 32px;
    background-color: rgb(211, 218, 215);
    border-radius: 5px;
    margin-top: 12px;
}

.searchArea>form>input {
    border: none;
    width: 250px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    color: rgb(10, 11, 10);
    padding-left: 11px;

}

.nav {
    font-size: 12px;
    display: elf;
    justify-content: flex-end;
    width: 400px;
    color: aliceblue;
}

.nav>li {
    margin-left: 84px;
    
}
